.titleStyle {
    font-weight: bold;
    font-size: 25px;
    color: #474748;
}


.file-upload {
    background-color: #ffffff;
    // width: 600px;
    margin: 0 auto;
    // padding: 20px;
    position: relative;
}

.file-upload-btn {
    /* width: 100%; */
    margin: 0;
    color: #fff;
    background: #6c63ff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    /* border-bottom: 4px solid #003b8a; */
    transition: all .2s ease;
    outline: none;
    /* text-transform: uppercase; */
    font-weight: 700;
}

.file-upload-btn:hover {
    background: #4842ab;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
}

.file-upload-content {
    display: none;
    text-align: center;
}

.file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
}

.image-upload-wrap {
    margin-bottom: 20px;
    border: 2px dashed #d0d0d1;
    position: relative;
    height: 350px;
    border-radius: 10px;
}

.image-dropping,
.image-upload-wrap:hover {
    background-color: #efeeff;
    border: 2px dashed #ffffff;
}

.image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
}

.drag-text {
    text-align: center;
}

.drag-text h4 {
    font-weight: 200;
    color: #6d6d6e;
    padding: 60px 0;
}

.file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
}


//File Preview

.preview-upload-wrap {
    margin-bottom: 20px;
    border: 2px solid #d0d0d1;
    position: relative;
    height: 350px;
    border-radius: 10px;
}

.file-list {
    padding: 1em;
}

.card-panel {
    box-shadow: 0 12px 18px 2px rgba(34,0,51,.04), 
    0 6px 22px 4px rgba(7,48,114,.12), 
    0 6px 10px -4px rgba(14,13,26,.12);
}

.card {
    border: none;
}

.card-body {
    box-shadow: 0 0 8px 0 rgba(12,12,13,.1);
    // padding: 1rem;
}

.card-body span {
    // padding-right: 0.5em;
}

.closeStyle {
    padding-top: 0.5em;
    // padding-left: 1.5em;
}

.file-upload-now-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: #6c63ff;
    border: none;
    padding: 10px;
    border-radius: 4px;
    /* border-bottom: 4px solid #003b8a; */
    transition: all .2s ease;
    outline: none;
    /* text-transform: uppercase; */
    font-weight: 700;
}

.file-upload-now-btn:hover {
    background: #4842ab;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
}

.file-upload-now-btn:active {
    border: 0;
    transition: all .2s ease;
}

.addButtonStyle {
    position: absolute;
    bottom: 0;
    padding: 1em;
}