<div class="container">
  <div class="card card-panel">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="file-upload px-lg-4 py-lg-4" *ngIf="filename == null">
            <div class="image-upload-wrap">
              <input class="file-upload-input" type="file" (change)="onFileSelected($event)" multiple accept="">
              <div class="drag-text">
                <h4>Drag and drop a file or select add file</h4>
                <button class="file-upload-btn mb-4" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Select Files to Upload</button>
              </div>
            </div>
          </div>

          <div class="file-upload px-lg-4 py-lg-4" *ngIf="filename != null">
            <div class="preview-upload-wrap">
                <div class="file-list">
                    <div class="card" *ngIf="filename != null">
                      <div class="card-body">
                        <div class="row">
                            <div class="col col-lg-1">
                            <span class="text-primary"><i class="far fa-file-alt fa-2x"></i></span>
                          </div>
                          <div class="col col-lg-9">
                              <b>{{ filename }}</b>
                              <div>
                                <small>{{ (filesize/1000) }}</small>
                              </div>
                          </div>
                          <div class="col col-lg-2">
                            <div class="pt-2">
                              <span class="text-secondary" (click)="removeFile()"><i class="fas fa-times fa-lg"></i></span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="addButtonStyle">
                  <input class="file-upload-input" type="file" (change)="onFileSelected($event)" accept="*/*">
                  <span class="text-primary" (change)="onFileSelected($event)"><i class="fas fa-sync-alt"></i> Change</span>
                </div>
            </div>
            <button class="file-upload-now-btn mb-4" type="button" (click)="onUpload()" *ngIf="show">
              <i class="fas fa-upload"></i> Upload
            </button>
            
            <button class="btn btn-outline-secondary btn-block mb-4" type="button" (click)="onUpload()" *ngIf="!show" disabled>
              <i class="fa fa-spinner fa-spin"></i> Please wait...
            </button>
          </div>
          
          
        </div>
        <div class="col-md-6 col-lg-6 col-sm-12">
          <div class="file-list" *ngIf="linkAddressGenerated != null">
              <div class="card">
                <div class="card-body">
                    <div class="row">
                      <div class="col col-lg-1">
                        <span class="text-primary"><i class="far fa-file-alt fa-2x"></i></span>
                      </div>
                      <div class="col col-lg-11">
                        <b>{{ prevFilename }}</b>
                        <div>
                          <small>{{ (filesize/1000) }}</small>
                        </div>
                      </div>
                    </div>
                  <hr>
                  <div class="row">
                    <div class="col">
                        <div class="input-group mb-3">
                          <input type="text" class="form-control" [ngModel]="linkAddressGenerated" #userinput>
                          <div class="input-group-append">
                            <button class="btn btn-outline-primary" (click)="copyInputMessage(userinput)" value="click to copy" >Copy</button>
                          </div>
                        </div>
                        <div>
                          <a download href="{{linkAddressGenerated}}">
                              <img target="_blank" [src]="imagePreview" width="140" height="142">
                          </a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
          </div>

          <div *ngIf="linkAddressGenerated == null">
              <h3 class="titleStyle mt-4">Private File Sharing</h3>
              <img src="../../../assets/upload.png" class="img-fluid" alt="Responsive image">
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
